@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Playball&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Lexend Deca";
}

input{
    font-weight: 400;
    font-size: 20px;
    font-family: "Lexend Deca";
    color: #666666;
}

input::placeholder{
    font-weight: 400;
    font-size: 20px;
    color: #DBDBDB;
}